body {
  background-color: white;
  font-family:  sans-serif;
  color: #222;
  margin: 40px;
  text-align: center;
}

h1 {
  font-size: 28px;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px ;
  letter-spacing: 2px;
  color: #111;
}

b {
  text-transform: uppercase;
  color: gray; 
  text-shadow: 1px 1px 3px;
}

p {
  font-size: 18px;
  line-height: 1.6;
  text-shadow: 1px 1px 3px;
}

br {
  margin-bottom: 10px;
}